[include mainsail.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the first and uncomment the second,
# then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg
#[include options/probe/stock.cfg]
[include options/probe/eddy.cfg]
#[include options/thermistor/pico.cfg

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFDD054747363026811857-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_57FF6E067172515015420987-if00
restart_method: command      

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 500

max_accel: 10000
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 100             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 32 #16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: False #True             
run_current: 1.2 #1.5
#hold_current: 1.061 #1.5            
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 75 #65
diag_pin: PE15
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 5


[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 32 #16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 362         
position_max: 362            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: False #True             
run_current: 1.2 #1.5
#hold_current: 1.061 #1.5             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 75 #75 #65
diag_pin: PE13
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 5


[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6            
interpolate: false              
run_current: 0.58           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 32               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: false              
run_current: 0.58           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: false              
run_current: 0.58           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32               

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: false              
run_current: 0.58           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.811 #6.745 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150   
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 150
control : pid
pid_kp : 33.838
pid_ki : 5.223
pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
#run_current: 0.6           
run_current: 0.8
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 120                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 350                   
horizontal_move_z: 10      
retry_tolerance: 0.0075    
retries: 5                  
max_adjust: 10 
[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PB0, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
#[controller_fan MCU_fan]
#pin: PA1
#max_power: 1
#kick_start_time: 0.5
#fan_speed: 1
#idle_timeout: 300
#heater: extruder, heater_bed
#stepper: stepper_x, stepper_y

[temperature_fan MCU_fan]
pin: PA1
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
target_temp: 50             # Вентилятор включится, когда температура хоста достигнет 50°C
sensor_type: temperature_host # Указывает Klipper читать температуру процессора хоста (Pi)
max_speed: 1.0
min_speed: 0.3              # Минимальная скорость для гарантированного старта ротора
control: watermark          # Самый надежный режим для простых вентиляторов (либо 100%, либо 0%)

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 7200


[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points: 175, 175, 30  # an example175 Y175 Z30
accel_per_hz:75
min_freq:20
max_freq:130
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 63.6
shaper_type_y =  mzv
shaper_freq_y =  45.8
damping_ratio_x: 0.0087
damping_ratio_y: 0.0047

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[safe_z_home]
home_xy_position: 175, 175          # центр вашего стола (как в макросе CENTER)
speed: 150.0                        # скорость перемещения XY
z_hop: 15.0                         # 👈 высота подъёма Z перед хоумингом X/Y (в мм)
z_hop_speed: 15.0                   # скорость подъёма

[bed_mesh]
speed: 350
horizontal_move_z: 2.5
mesh_min: 25, 20
mesh_max: 330, 340
probe_count: 9, 9
algorithm: bicubic
fade_start: 1.0
fade_end: 10.0
fade_target: 0

[screws_tilt_adjust]
# Точные позиции винтов с учетом оффсета датчика
# Формула: X_head = X_винта + 16, Y_head = Y_винта - 11.5

screw1: 191,163.5      # Centre (винт 175, 175)
screw1_name: Centre
screw2: 29,3         # Front Left (винт 13, 13)
screw2_name: Front Left
screw3: 191,3      # Front Mid (винт 175, 13)
screw3_name: Front Mid
screw4: 334,3        # Front Right (винт 338, 13) ⚠️ Сопло на краю X=354
screw4_name: Front Right
screw5: 29,163.5       # Mid Left (винт 13, 175)
screw5_name: Mid Left
screw6: 338,163.5      # Mid Right (винт 338, 175) ⚠️ Сопло на краю X=354
screw6_name: Mid Right
screw7: 33,311       # Back Left (винт 13, 338)
screw7_name: Back Left
screw8: 191,326.5      # Back Mid (винт 175, 338)
screw8_name: Back Mid
screw9: 338,281     # Back Right (винт 338, 338) ⚠️ Сопло на краю X=354
screw9_name: Back Right

horizontal_move_z: 10
speed: 400
screw_thread: CW-M4
# Macros
#################################################################

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.049687:3241723.039,0.090000:3240216.013,0.130313:3238661.733,
#*# 	0.169688:3237194.521,0.210000:3235702.921,0.250313:3234219.801,
#*# 	0.289688:3232901.254,0.330000:3231542.306,0.370313:3230144.493,
#*# 	0.409688:3228825.950,0.450000:3227545.262,0.490313:3226253.895,
#*# 	0.529688:3225020.995,0.570000:3223799.662,0.610313:3222567.230,
#*# 	0.649688:3221391.912,0.690000:3220224.412,0.730313:3219046.850,
#*# 	0.769688:3217952.250,0.810000:3216844.290,0.850313:3215704.975,
#*# 	0.889688:3214650.511,0.930000:3213620.124,0.970313:3212568.916,
#*# 	1.009688:3211557.059,1.050000:3210513.867,1.090313:3209474.100,
#*# 	1.129688:3208504.768,1.170000:3207507.815,1.210313:3206502.583,
#*# 	1.249688:3205550.098,1.290000:3204598.262,1.330313:3203618.473,
#*# 	1.369688:3202739.367,1.410000:3201840.882,1.450313:3200928.443,
#*# 	1.489688:3200056.031,1.530000:3199192.281,1.570313:3198285.136,
#*# 	1.609688:3197436.735,1.650000:3196592.315,1.690313:3195733.184,
#*# 	1.729688:3194939.538,1.770000:3194144.480,1.810313:3193332.651,
#*# 	1.849688:3192569.605,1.890000:3191815.328,1.930313:3191044.293,
#*# 	1.969688:3190337.869,2.010000:3189599.557,2.050313:3188855.177,
#*# 	2.089688:3188163.523,2.130000:3187467.087,2.170313:3186758.756,
#*# 	2.209688:3186099.064,2.250000:3185437.513,2.290313:3184770.633,
#*# 	2.329688:3184122.229,2.370000:3183507.890,2.410313:3182876.350,
#*# 	2.449688:3182287.276,2.490000:3181708.787,2.530313:3181114.159,
#*# 	2.569688:3180555.839,2.610000:3179997.475,2.650313:3179437.215,
#*# 	2.689688:3178878.008,2.730000:3178359.322,2.770313:3177825.064,
#*# 	2.809688:3177313.650,2.850000:3176817.226,2.890313:3176315.513,
#*# 	2.929688:3175836.875,2.970000:3175352.387,3.010313:3174887.938,
#*# 	3.049688:3174437.981,3.090000:3173979.831,3.130313:3173506.956,
#*# 	3.169688:3173086.397,3.210000:3172666.702,3.250313:3172230.251,
#*# 	3.289688:3171813.442,3.330000:3171402.477,3.370313:3170987.756,
#*# 	3.409688:3170609.433,3.450000:3170233.400,3.490313:3169829.625,
#*# 	3.529688:3169465.126,3.570000:3169101.014,3.610313:3168720.574,
#*# 	3.649688:3168370.394,3.690000:3168018.922,3.730313:3167665.169,
#*# 	3.769688:3167331.979,3.810000:3167006.343,3.850313:3166666.927,
#*# 	3.889688:3166347.541,3.930000:3166048.526,3.970313:3165729.437,
#*# 	4.009687:3165420.281,4.050000:3165122.247
#*# tap_threshold = 7851.720
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 48.512307
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.622
#*# pid_ki = 2.517
#*# pid_kd = 538.359
