[include mainsail.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the first and uncomment the second,
# then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg
#[include options/probe/stock.cfg]
[include options/probe/eddy.cfg]
#[include options/thermistor/pico.cfg

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFDD054747363026811857-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_57FF6E067172515015420987-if00
restart_method: command      

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 500

max_accel: 10000
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 100             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 32 #16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: False #True             
run_current: 1.2 #1.5
#hold_current: 1.061 #1.5            
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 75 #65
diag_pin: PE15
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 5


[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 32 #16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 362         
position_max: 362            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: False #True             
run_current: 1.2 #1.5
#hold_current: 1.061 #1.5             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 75 #75 #65
diag_pin: PE13
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 5


[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6            
interpolate: false              
run_current: 0.58           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 32               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: false              
run_current: 0.58           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: false              
run_current: 0.58           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32               

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: false              
run_current: 0.58           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 0
uart_address:3
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.811 #6.745 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150   
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 150
control : pid
pid_kp : 33.838
pid_ki : 5.223
pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
#run_current: 0.6           
run_current: 0.8
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 120                
control : pid
pid_kp : 73.571
pid_ki : 1.820
pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

# PLEASE REMOVE THIS WHEN USING EDDY
#[probe]
#z_offset: 0

#[probe_pressure]
#pin: ^!PE12     
#x_offset: 0                  
#y_offset: 0
#z_offset : 0
#speed: 1.0

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 350                   
horizontal_move_z: 10      
retry_tolerance: 0.0075    
retries: 5                  
max_adjust: 10 
[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PB0, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 7200


[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points: 175, 175, 30  # an example175 Y175 Z30
accel_per_hz:75
min_freq:20
max_freq:130
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 63.6
shaper_type_y =  mzv
shaper_freq_y =  45.8
damping_ratio_x: 0.0087
damping_ratio_y: 0.0047

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[safe_z_home]
home_xy_position: 175, 175          # центр вашего стола (как в макросе CENTER)
speed: 150.0                        # скорость перемещения XY
z_hop: 15.0                         # 👈 высота подъёма Z перед хоумингом X/Y (в мм)
z_hop_speed: 15.0                   # скорость подъёма

[bed_mesh]
speed: 350
horizontal_move_z: 5
mesh_min: 25, 20
mesh_max: 330, 340
probe_count: 9, 9
algorithm: bicubic
fade_start: 1.0
fade_end: 10.0
fade_target: 0

# Macros
#################################################################

[gcode_macro QGL]
gcode:
    QUAD_GANTRY_LEVEL
    G28 Z

[gcode_macro TAP_MESH]
gcode:
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE METHOD=tap

[gcode_macro RAPID_MESH]
gcode:
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE METHOD=rapid_scan

[gcode_macro TAP_CALIBRATE]
gcode:
    G28
    PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=guess

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.049688:3247428.652,0.090000:3246001.142,0.130313:3244476.293,
#*# 	0.169688:3243034.217,0.210000:3241642.991,0.250313:3240186.826,
#*# 	0.289688:3238809.174,0.330000:3237467.614,0.370313:3236070.614,
#*# 	0.409688:3234770.297,0.450000:3233506.986,0.490313:3232169.361,
#*# 	0.529688:3230896.604,0.570000:3229683.517,0.610313:3228392.114,
#*# 	0.649688:3227179.534,0.690000:3226005.869,0.730313:3224781.800,
#*# 	0.769688:3223602.105,0.810000:3222474.182,0.850313:3221261.392,
#*# 	0.889688:3220125.907,0.930000:3219013.511,0.970313:3217826.352,
#*# 	1.009688:3216705.868,1.050000:3215643.056,1.090313:3214502.424,
#*# 	1.129688:3213431.371,1.170000:3212392.091,1.210313:3211290.385,
#*# 	1.249688:3210267.238,1.290000:3209269.269,1.330313:3208206.072,
#*# 	1.369688:3207196.914,1.410000:3206213.024,1.450313:3205178.491,
#*# 	1.489688:3204213.421,1.530000:3203275.064,1.570313:3202285.816,
#*# 	1.609688:3201351.321,1.650000:3200459.547,1.690313:3199505.773,
#*# 	1.729688:3198625.323,1.770000:3197774.903,1.810313:3196871.140,
#*# 	1.849688:3196015.406,1.890000:3195198.295,1.930313:3194338.525,
#*# 	1.969688:3193514.085,2.010000:3192740.422,2.050313:3191916.020,
#*# 	2.089688:3191135.593,2.130000:3190401.826,2.170312:3189642.309,
#*# 	2.209687:3188903.046,2.250000:3188194.185,2.290312:3187461.781,
#*# 	2.329687:3186752.107,2.370000:3186078.018,2.410312:3185371.542,
#*# 	2.449687:3184690.502,2.490000:3184052.097,2.530312:3183378.524,
#*# 	2.569687:3182749.356,2.610000:3182145.387,2.650312:3181519.539,
#*# 	2.689687:3180926.599,2.730000:3180362.345,2.770312:3179760.014,
#*# 	2.809687:3179201.080,2.850000:3178661.533,2.890312:3178081.758,
#*# 	2.929687:3177550.214,2.970000:3177025.851,3.010312:3176484.997,
#*# 	3.049687:3175985.031,3.090000:3175501.305,3.130312:3174997.667,
#*# 	3.169687:3174520.084,3.210000:3174059.290,3.250312:3173577.093,
#*# 	3.289687:3173125.963,3.330000:3172692.965,3.370312:3172235.544,
#*# 	3.409687:3171801.949,3.450000:3171394.549,3.490312:3170948.271,
#*# 	3.529687:3170534.892,3.570000:3170146.595,3.610312:3169742.207,
#*# 	3.649687:3169356.177,3.690000:3168989.586,3.730312:3168599.991,
#*# 	3.769687:3168235.657,3.810000:3167885.991,3.850312:3167516.575,
#*# 	3.889687:3167179.086,3.930000:3166841.941,3.970312:3166494.380,
#*# 	4.009687:3166161.400,4.050000:3165837.289
#*# tap_threshold = 5443.158
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 40.294723
